html {
  font-size: 10px;
}
@media (max-width: 400px) {
  html {
    font-size: 4px;
  }
}
@media (max-width: 767px) and (min-width: 400px) {
  html {
    font-size: 5px;
  }
}
@media (max-width: 992px) and (min-width: 767px) {
  html {
    font-size: 6px;
  }
}
@media (max-width: 1200px) and (min-width: 992px) {
  html {
    font-size: 8px;
  }
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  background-color: white;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.flex-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  max-width: 1200px;
  padding: 0 1.5rem;
  margin: 0 auto;
}
.container a {
  text-decoration: none;
  color: #3f4244;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 5rem;
  transition: border-bottom 0.2s ease;
}
.container a:last-child {
  margin: 0;
}
.container a:hover {
  padding-bottom: 0.5rem;
  border-bottom: 0.2rem solid lime;
}
.container .logo {
  width: 10rem;
  height: 2.5rem;
}
.section {
  padding-bottom: 8rem;
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 525px;
  }
}
@media (max-width: 400px) {
  .container {
    max-width: none;
  }
}
.main {
  background-image: linear-gradient(to bottom, #6dffc6 1%, #3fd2ce 99%);
  padding: 22rem 1.5rem 17rem 1.5rem;
}
.main h1 {
  color: #ffffff;
  font-size: 6rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 5rem;
}
.btn {
  color: #ffffff;
  display: block;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 2.5rem 6rem;
  border: 0.1rem solid #ff4856;
  background-image: linear-gradient(to bottom, #ff6c54 1%, #ff2b59 99%);
  border-radius: 1rem;
}
.btn:hover {
  background: #ff4856;
  border-color: #ff4856;
  cursor: pointer;
}
.services {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding-top: 8.5rem;
  margin-bottom: 10rem;
}
.service {
  max-width: 23.4rem;
  height: 26rem;
  margin-right: 5rem;
}
.service img {
  width: 13rem;
  height: 13rem;
  display: block;
  margin: 0 auto;
}
.service h3 {
  color: #3f4244;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
.service p {
  color: #929ba0;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
}
.service:last-child {
  margin: 0;
}
.design {
  background-image: linear-gradient(-187.81deg, #ff6c54 1%, #ff2b59 99%);
  padding-top: 9rem;
}
.design img {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 14.5rem;
  margin-bottom: -2rem;
}
.h2-light {
  color: #ffffff;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
}
.light-text {
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.responsive {
  background-color: white;
  display: flex;
}
.phone-img {
  width: 30%;
  object-fit: contain;
  margin-top: 6.8rem;
  margin-left: 15rem;
}
.h2-dark {
  color: #3f4244;
  font-size: 4rem;
  font-weight: 400;
}
.responsive__text {
  margin-top: 12rem;
  margin-left: 12rem;
}
.responsive__text p {
  color: #929ba0;
  font-size: 1.5rem;
  font-weight: 300;
  width: 75%;
  margin-top: 5rem;
}
.responsive__text button {
  display: inline-block;
  text-align: left;
  margin-top: 6rem;
}
